[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-wtf = "*"
bootstrap-flask = "*"
flask-moment = "*"
flask-debugtoolbar = "*"
pymysql = "*"
pandas = "*"
flask-ckeditor = "*"

[dev-packages]
faker = "*"

[requires]
python_version = "3.7"
