<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<main class="container">
    <p>图片展示区：</p>
    {% if session.filenames %}
        {% for filename in session.filenames %}
            <a href="{{ url_for('get_fullPath',filename=filename) }}" target="_blank">
                <img src="{{ url_for('get_fullPath',filename=filename) }}">
            </a>

        {% endfor %}
    {% endif %}


</main>
</body>
</html>